*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(191, 218, 240);

}
nav{
    background-color: greenyellow;
    justify-content: space-between;
    text-align: center;
    height: 8vh;
}
nav h1{
    font-size: 40px;
}
section{
    display: flex;
    text-align: center;
    justify-content: center;
}
table{
    background-color: rgb(82, 79, 79);
    border-radius: 5px;
    /* margin: auto; */
    /* width: 55vh; */

}
input{
    font-size: 26px;
    border-radius: 3px;
    height: 10vh;
    padding: 7px 0px 6px 0px;
    background-color:rgb(112, 109, 109);
    color: white;
    text-align: right;
    
}
button{
    font-size: 25px;
    width: 82px;
    height: 71px;
    border-radius: 8px;
    background-color: rgb(82, 79, 79);
    color: white;
    cursor: pointer;
    border: 1px solid grey;
    /* background-color: rgb(235, 54, 54); */
}
button:hover{
    background-color: rgb(124, 119, 119);
}
form{
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 50px 0px 0px 0px;
    border-radius: 0px;
    box-shadow: 10px 10px 15px rgb(104, 100, 100);
}

/* Media queries */
@media screen and (max-width:350px){
    input{
        font-size: 20px;
        height: 8vh;
    }
    button{
        height: 60px;
        width: 61px;
        font-size: 15px;
    }
}









/*#screen{
    width: 100%;
    height: 10vh;
}

.container{
    display: inline-block;
    /* background-color: cornflowerblue; */
    /* border: 2px solid black; 
    width: 40vh;
    height: 70vh;
    display: grid;
    place-items:center;
} 
.input{
    margin:30px 0px 0px 0px ;
    padding: 18px;
    width: 100%;
    height: 30%;
}
td{
    align-items: center;
    text-align: center;
    border: 1px solid black;
} */
